* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #101314;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #dcdbd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #dbdf13;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.work-example {
    margin: 3%;
    position: relative;
    display: inline-flex;
}

.work-example p {
    font-size: large;
    position: absolute;
    left: 15px;
    bottom: -30px;
    background: repeating-linear-gradient(
45deg
, black, transparent 100px);
}

.hero {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/ismael-self-potrait.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.float-left {
    float: right;
    margin-right: 25px;
    margin-left: 25;
}

.float-right {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.content {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit-article{
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-article h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content-article {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0c0d0e;
    color: #ffffff;
}

.content-article img {
    max-height: 200px;
}

.content-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}