* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #101314;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 60px;
}

header h1 .seo {
    color: #dcdbd6;
}

header nav

a
p
.work-example

.hero

.float-left

.content

.benefits

footer